
bundle/vim-colors-solarized
bundle/vim-monokai/
bundle/vim-colors-solarized
bundle/vim-airline/
bundle/taglist.vim/
bundle/nerdtree/
bundle/minibufexpl.vim/
bundle/vim-colors-solarized
bundle/YouCompleteMe/
bundle/vim-lua-ftplugin/
